// animations
@mixin animat_fadeIn($direction,$coord-start, $coord-end)
    $animat_name: animate__fadeIn__+$direction
    $axis: 0

    animation: $animat_name .7s ease-in .1s

    @if $direction == 'left' or $direction == 'right'
        $axis: 'X'

    @else if $direction =='up'
        $axis: 'Y'

    @keyframes  #{$animat_name}
        from
            transform: translate(map-get($coord-start, "x"),map-get($coord-start, "y"))
            opacity: 0
        to
            transform: translate(map-get($coord-end, "x"),map-get($coord-end,"y"))

            opacity: 1

// hover style 4 links 

@mixin hoverd-link
    text-decoration: underline
    font-style: italic
    font-weight: bold

// 1020px
// MEDIA QUERY MANAGER
/*
 0 - 600px:      Phone
 600 - 900px:    Tablet portrait
 900 - 1024px:   Tablet landscape 
 [1200 - 1800] is where our normal styles apply
 1800px + :      Big desktop

    $breakpoint arguement choices: 
        - phone
        - tab-port
        - tab-land
        - big-desktop
        1em = 16px

@mixin respond($breakpoint)
    @if $breakpoint == phone
        @media only screen and ( max-width:37.5em  ) // 600/16
            @content
    @if $breakpoint == tab-port
        @media only screen and ( max-width: 56.25em ) //900px/16
            @content
    @if $breakpoint == tab-land
        @media only screen and ( max-width: 66.25em  )//1060px/16
            @content
    @if $breakpoint == big-desktop
        @media only screen and ( min-width: 112.4em  )
            @content
