@use '../abstracts'

%margin-bottom-small
    margin-bottom: 2rem

.footer
    padding: 4rem
    background: darken(abstracts.$light-blue, 30%)
    display: grid
    grid-template-columns: repeat( 3 , 1fr)

    font: 2rem abstracts.$font-primary
    color: abstracts.$white

    &__header
        @extend %margin-bottom-small

        &::after
            content: ''
            display: block
            background-color: abstracts.$orange
            width: 45%
            height: 2px
        &:hover
            &::after
                animation: pulse 1s cubic-bezier(.68,-0.55,.27,1.55) infinite alternate

    @include abstracts.respond(tab-port)
        grid-template-columns: repeat(2, 1fr)
        row-gap: 2rem
    @include abstracts.respond(phone)
        padding-top: 10rem
        grid-template-columns: 1fr !important
        row-gap: 5rem !important
        & > *
            grid-column: 1 / -1 !important
        &> :not(:first-child)

            border-top: 1px solid #fff
            padding-top: 4rem

        @include  abstracts.support-grid()
            & >  *
                margin-bottom: 5rem

.social
    place-self: center
    .logo
        padding: 0
        @extend %margin-bottom-small

    .company

        @extend %margin-bottom-small

    &__list
        list-style: none
        display: flex
        gap: 1rem
    &__link
        img
            width: 2.6rem
            @include abstracts.respond(tab-port)
                width: 4.6rem

.support
    display: grid
    justify-content: center
    &__link:visited,&__link:link
        text-decoration: none
        color: abstracts.$white
        @include  abstracts.support-grid()
            margin: 2rem 1rem
            text-decoration: underline
        &:hover
            @include abstracts.hoverd-link
            color: abstracts.$light-pink

.newsletter
    @include abstracts.respond(tab-port)
        grid-column: 2 / -1

.form__input
    background-color: abstracts.$white !important
    color: abstracts.$dark !important

@include abstracts.respond(tab-port)
    .footer
        grid-template-columns: repeat(2, 1fr)
        row-gap: 2rem
        .logo
            a
                svg
                    width: 7rem !important
                    height: 7rem !important
                span
                    font-size: 5rem !important
                    line-height: 3rem !important
    .social
        grid-area: 1 / span 3
        &__link img
            width: 4.6rem
    .support
        justify-content: start

    .newsletter
        grid-column: 2 / -1
        @include  abstracts.support-grid()
            & >  *
                margin-bottom: 5rem
        form
            width: 100%

@keyframes pulse
    from
        width: 0%
    to
        width: 45%
