@use '../abstracts'
%flex
    display: flex
    flex-wrap: wrap

@mixin item_image($bg-clr:'abstracts.$dark-blue',$url:"")
    background-color: $bg-clr
    background: url($url) top center / cover no-repeat
    &:hover
        background-image: linear-gradient(rgba(abstracts.$dark,.3),rgba(abstracts.$dark,.3)) , url($url)

section:not(:first-child)
    padding-top: 10rem

.about
    height: 85vh

    display: grid
    grid-template-columns: [full-start] 2rem repeat(2,[col-start] 1fr [col-end]) 2rem [full-end]
    justify-content: space-around
    align-items: center
    gap: 1rem
    &__text
        grid-column: col-start 1 / col-end 1
    &__container
        grid-column: col-start 2 / col-end 2
        &-img
            width: 100%
            height: 100%
            filter: brightness(1.15)
            border-radius: 22px

.services
    h2
        margin-top: 15rem
    .grid-container
        display: grid
        grid-template-columns: repeat( auto-fit , minmax(25rem,1fr) )
        gap: 5rem
        margin: 0px 3rem

.category
    .grid-container
        display: grid
        grid-template-columns: repeat( auto-fit , minmax(25rem, 1fr) )
        grid-template-rows: minmax(25rem, 1fr) minmax(25rem, 1fr)
        gap: 3rem
        margin: 0px 3rem

    &__item
        padding-top: 60%
        border-radius: 35%
        &:hover
            border-radius: 0%
            .category__text
                transform: skewX(-16deg)
                width: 70%
                margin: 0 auto
                & > *
                    transform: skewX(16deg)

    &__text
        text-align: center
        background-color: abstracts.$white
        p
            font: bold 3rem abstracts.$font-display
            color: abstracts.$orange

    &__item-1
        @include item_image($bg-clr:'abstracts.$dark-blue',$url:'../img/smart-thermostat.jpg')

    &__item-2
        @include item_image($bg-clr:'abstracts.$light-blue',$url:'../img/smart-ac.jpg')

    &__item-3
        @include item_image($bg-clr:'abstracts.$orange',$url:'../img/electric-blinds.webp')

    &__item-4
        @include item_image($bg-clr:'abstracts.$light-grey',$url:'../img/smart-plug.jpg')

    &__item-5
        @include item_image($bg-clr:'abstracts.$dark-violet',$url:'../img/smart-water-heater.jpg')

    &__item-6
        @include item_image($bg-clr:' abstracts.$light-blue',$url:'../img/movement-detector.jpg')

    &__item-7
        @include item_image($bg-clr:' abstracts.$dark-blue',$url:'../img/video-surveillance.jpg')

    &__item-8
        @include item_image($bg-clr:'abstracts.$light-grey',$url:'../img/smart-lock.jpg')

.contact
    &__infos
        display: grid
        grid-template-columns: repeat( auto-fit , minmax(24rem,1fr))
        place-items: center
        gap: 3rem

    img
        width: 4rem
        height: 5rem

    &__info
        display: flex
        align-items: center
        gap: 3rem
        padding: 3rem
        &-text
            & > *
                font-size: 2rem !important
                font-family: abstracts.$font-display
                color: abstracts.$dark-blue
            p:not(:last-child)
                font-family: abstracts.$font-primary
    &__form
        padding-bottom: 3rem
        display: grid
        grid-template-columns: 1fr 1fr
        &::before
            content: ''
            width: 80%
            height: 1px
            background-color: abstracts.$light-grey
            display: block
            margin: 5rem auto
            grid-column: 1 / span 2

        &-text
            place-self: start center
            transform: translateY(2rem)
            width: 60%
