@use '../abstracts'
%flex
    display: flex
    flex-wrap: wrap

section:not(:first-child)
    padding-top: 10rem

.about
    height: 85vh

    display: grid
    grid-template-columns: [full-start] 2rem repeat(2,[col-start] 1fr [col-end]) 2rem [full-end]
    justify-content: space-around
    align-items: center
    gap: 1rem
    &__text
        grid-column: col-start 1 / col-end 1
    &__container
        grid-column: col-start 2 / col-end 2
        &-img
            width: 100%
            height: 100%
            filter: brightness(1.15)
            border-radius: 22px

.services
    h2
        margin-top: 15rem
    .grid_container
        display: grid
        grid-template-columns: repeat( auto-fit , minmax(25rem,1fr) )
        gap: 5rem
        margin: 0px 3rem
