@use '../abstracts'

@mixin grid-animation()
    // Applies styles when the user has made no preference known F
    @media screen and (prefers-reduced-motion: no-preference)
        &.animate-in-view
            .grid-container
                opacity: 0
                @include  abstracts.animat_fadeIn($target:grid-container,$direction:up,$coord-start:('x':0%,'y':10%),$coord-end: ('x':0%,'y':0%),$delay:.2s)
        &.animate-out-view
            .grid-container
                @include  abstracts.animat_fadeOut($target:grid-container,$direction:down,$coord-start:('x':0%,'y':0%),$coord-end: ('x':0%,'y':10%))

@mixin item_image($bg-clr:'abstracts.$dark-blue',$url:"")
    background-color: $bg-clr
    background: url($url) top center / cover no-repeat
    &:hover
        background-image: linear-gradient(rgba(abstracts.$dark,.3),rgba(abstracts.$dark,.3)) , url($url)

section
    padding: 10rem 0 !important

// animation for all section headers
// Applies styles when the user has made no preference known F
@media screen and (prefers-reduced-motion: no-preference)

    .animate-in-view
        .section-header
            @include  abstracts.animat_fadeIn($target:services-card,$direction:up,$coord-start:('x':0%,'y':10%),$coord-end: ('x':0%,'y':0%))
    .animate-out-view
        .section-header
            @include  abstracts.animat_fadeOut($target:services-card,$direction:down,$coord-start:('x':0%,'y':0%),$coord-end: ('x':0%,'y':10%))

.about
    // padding-top: 5rem
    // height: 85vh

    display: grid
    grid-template-columns: [full-start] 2rem repeat(2,[col-start] 1fr [col-end]) 2rem [full-end]
    justify-content: space-around
    align-items: center
    gap: 1rem
    &__text
        grid-column: col-start 1 / col-end 1

    &__container
        grid-column: col-start 2 / col-end 2
        &-img
            width: 100%
            height: 100%
            filter: brightness(1.15)
            border-radius: 1.3rem

    @include abstracts.respond(tab-land)
        grid-template-columns: [full-start] 5rem repeat(2, [col-start] 1fr [col-end]) 5rem [full-end]

    @include abstracts.respond(tab-port)
        &__text,&__container
            grid-column: col-start 1/col-end 2
        &__container
            text-align: center
            &-img
                width: 70%
                @include  abstracts.respond(phone)
                    width: 100%

    @include  abstracts.support-grid()
        padding: 2rem
        &__text
            margin-bottom: 5rem

    // Applies styles when the user has made no preference known F
    @media screen and (prefers-reduced-motion: no-preference)
        &.animate-in-view
            .about__text
                @include  abstracts.animat_fadeIn($target:about-text,$direction:left,$coord-start:('x':-100%,'y':0%),$coord-end: ('x':0%,'y':0%))
            .about__container
                @include  abstracts.animat_fadeIn($direction:right,$coord-start:('x':100%,'y':0%),$coord-end: ('x':0%,'y':0%) )

        &.animate-out-view
            .about__text
                @include  abstracts.animat_fadeOut($target:about-text,$direction:left,$coord-start:('x':0%,'y':0%),$coord-end: ('x':-100%,'y':0%) )
            .about__container
                @include  abstracts.animat_fadeOut($direction:right,$coord-start:('x':0%,'y':0%),$coord-end: ('x':100%,'y':0%) )

.services
    background-color: abstracts.$light-grey-2
    h2
        margin-top: 10rem
    .grid-container
        display: grid
        grid-template-columns: repeat( auto-fit , minmax(20rem,1fr) )
        gap: 5rem
        margin: 0px 3rem

        @include  abstracts.respond(phone)
            grid-template-columns: 70%
            justify-content: center
            gap: 10rem

    @include grid-animation

.category
    .grid-container
        display: grid
        grid-template-columns: repeat( auto-fit , minmax(22rem, 1fr) )
        grid-template-rows: repeat(2,minmax(22rem, 1fr) )
        gap: 3vw
        margin: 0px 3vw
        @include abstracts.respond(tab-port) // width < 900?
            margin: 0px 6vw
            grid-template-rows: repeat(3,minmax(22rem, 1fr) )

        @include abstracts.respond(phone )
            gap: 10vmin
            grid-template-columns: 50%
            justify-content: center

    &__item
        padding-top: 60%
        border-radius: 35%
        &:hover
            border-radius: 0%
            .category__text
                transform: skewX(-16deg)
                width: 70%
                margin: 0 auto
                & > *
                    transform: skewX(16deg)
        @include  abstracts.support-grid()
            max-width: 80%
            margin: 0 auto 10rem
    &__text
        text-align: center
        background-color: abstracts.$white
        p
            font: bold 3rem abstracts.$font-display
            color: abstracts.$orange

    &__item-1
        @include item_image($bg-clr:'abstracts.$dark-blue',$url:'../img/smart-thermostat.jpg')

    &__item-2
        @include item_image($bg-clr:'abstracts.$light-blue',$url:'../img/smart-ac.jpg')

    &__item-3
        @include item_image($bg-clr:'abstracts.$orange',$url:'../img/electric-blinds.webp')

    &__item-4
        @include item_image($bg-clr:'abstracts.$light-grey',$url:'../img/smart-plug.jpg')
        background-position: bottom

    &__item-5
        @include item_image($bg-clr:'abstracts.$dark-violet',$url:'../img/smart-water-heater.webp')

    &__item-6
        @include item_image($bg-clr:' abstracts.$light-blue',$url:'../img/movement-detector.jpg')

    &__item-7
        @include item_image($bg-clr:' abstracts.$dark-blue',$url:'../img/video-surveillance.jpg')
        background-position: left center

    &__item-8
        @include item_image($bg-clr:'abstracts.$light-grey',$url:'../img/smart-lock.jpg')

    @include grid-animation

.contact
    background-color: abstracts.$light-grey-2

    &__infos
        display: grid
        grid-template-columns: repeat( auto-fit , minmax(24rem,max-content))
        place-items: center
        justify-content: center
        @include abstracts.respond(tab-land) // width < 900?
            grid-template-columns: repeat( auto-fit , minmax(25rem,1fr))

        @include abstracts.respond(tab-port) // width < 900?
            row-gap: 10rem

        @include  abstracts.support-grid()
            & > *
                margin: 0 auto 10rem
                max-width: 80%
    img
        width: 4rem
        height: 5rem

    &__info
        display: flex
        align-items: center
        gap: 3vw
        padding: 3rem
        @include abstracts.respond(tab-land) // width < 900?
            gap: 1vw
            flex-direction: column

        @include abstracts.respond(tab-port) // width < 1060px?
            padding: 0rem

        &-text
            & > *
                font-size: 2rem !important
                font-family: abstracts.$font-display
                color: abstracts.$dark-blue
                text-decoration: none

                &:nth-child(2):hover
                    @include abstracts.hoverd-link

            p:not(:last-child)
                font-family: abstracts.$font-primary

    &__form
        display: grid
        grid-template-columns: 1fr 1fr
        &::before
            content: ''
            width: 80%
            height: 1px
            background-color: abstracts.$light-grey
            display: block
            margin: 5rem auto
            grid-column: 1 / span 2

        &-text
            place-self: start center
            transform: translateY(2rem)
            width: 60%

        @include abstracts.respond(tab-port) // width < 900?
            grid-template-columns: 1fr
            grid-template-rows: repeat(2,max-content)
            grid-row-gap: 5vw
            margin-top: 5vh
            &::before
                display: none
            &__container
                justify-self: center

        @include abstracts.respond(phone)
            grid-row-gap: 10vmin
            &-text
                width: 80%

        @include  abstracts.support-grid()
            & > *
                margin: 0 auto 10rem
                min-width: 80%

    &.animate-in-view
        .contact__infos
            opacity: 0
            @include  abstracts.animat_fadeIn($target:contacts-info,$direction:up,$coord-start:('x':0%,'y':10%),$coord-end: ('x':0%,'y':0%),$delay:.3s)
        .contact__form
            opacity: 0
            @include  abstracts.animat_fadeIn($target:contacts-info,$direction:up,$coord-start:('x':0%,'y':10%),$coord-end: ('x':0%,'y':0%),$delay:.5s)

    &.animate-out-view
        .contact__infos,.contact__form
            @include  abstracts.animat_fadeOut($target:contacts-info,$direction:down,$coord-start:('x':0%,'y':0%),$coord-end: ('x':0%,'y':10%))
